
<!--Modals-->


<div id="darDeBajaModal" class="modal">
    <div class="modal-content">
        <h4>Seguro que quieres dar de baja a la empresa {{Nombre}} ?</h4>
    </div>
    <div class="modal-footer">
        <a (click)="deleteEmpresa()" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
</div>



<div class="empresas-detail-contianer">
    
    <div class="logo-container">
        <div><img src="http://localhost:3712/api/empresas/getLogo/{{url_logo}}"></div>
        
        <div>
            <form action="#">
                <div class="file-field input-field">
                    <div class="logo">
              
                        <input type="file" (change)="fileChangeEvent($event)" >
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                    </div>

                    <div class="invalid_file" *ngIf="errorFormatFile">Formato de imagen invalida</div>
                </div>
            </form>
        </div>
 
    </div>

    




    <form class="col s12" [formGroup]="editEmpresaForm" (ngSubmit)="onSubmitEditEmpresa()">

        <div class="buttons">
            <div class="delete-button">
                <button class="btn waves-effect waves-light modal-trigger" href="#darDeBajaModal"   name="action"
                    id="btnDelete">Eliminar</button>
            
            </div>

        </div>

        <div>
            <button class="btn waves-effect waves-light" type="submit" id="btnSaveChanges" name="action">Guardar cambios
            </button>
        </div>
        

    <div class="row">
            <div class="row">
                <div class="input-field col s6">
                    <span>Nombre</span>
                    <input id="nombre" type="text" class="validate" formControlName="name" [(ngModel)]="Nombre">
                   
                    <div class="error-validation" *ngIf="editEmpresaForm.invalid && submitedEditForm">
                        <span *ngIf="editEmpresaForm.controls['name'].errors?.required">Nombre es requerido</span>
                    </div>
                </div>
                <div class="input-field col s6">
                    <span>Razon social</span>
                    <input id="razon_social" type="text" class="validate"  formControlName="razon_social" [(ngModel)]="razon_social">
                   
                    <div class="error-validation" *ngIf="editEmpresaForm.invalid && submitedEditForm">
                        <span *ngIf="editEmpresaForm.controls['razon_social'].errors?.required">Razon social es requerido</span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="input-field col s12">
                    <span>Direccion</span>
                    <input id="direccion" type="text" class="validate" formControlName="direccion" [(ngModel)]="Direccion">
                 
                    <div class="error-validation" *ngIf="editEmpresaForm.invalid && submitedEditForm">
                        <span *ngIf="editEmpresaForm.controls['direccion'].errors?.required">Direccion es requerido</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <span>Rut</span>
                    <input id="rut" type="text" class="validate" formControlName="rut" [(ngModel)]="rut">
                   
                    <div class="error-validation" *ngIf="editEmpresaForm.invalid && submitedEditForm">
                        <span *ngIf="editEmpresaForm.controls['rut'].errors?.required">Rut es requerido</span>
                        <span
                            *ngIf="!(editEmpresaForm.controls['rut'].errors?.required) && (editEmpresaForm.controls['rut'].value?.length != 12)">Rut
                            debe tener 12 digitos</span>
                        <span
                            *ngIf="!(editEmpresaForm.controls['rut'].errors?.required) && !(editEmpresaForm.controls['rut'].value?.length != 12) && (editEmpresaForm.controls['rut'].invalid)">Rut
                            debe esta conformados por numeros</span>
                    
                    </div>
                </div>
                <div class="input-field col s6">
                    <select class="browser-default" formControlName="estado" [(ngModel)]="estado">
            
                        <option value="1" [value]="estado" disabled>{{estado}}</option>
                        <option value="activo">activo</option>
                        <option value="inactivo">inactivo</option>
                       
                    </select>
                    <div class="error-validation" *ngIf="editEmpresaForm.invalid && submitedEditForm">
                        <span *ngIf="editEmpresaForm.controls['estado'].errors?.required">Estado es requerido</span>
                    </div> 
                    
                </div>
            </div>


            <div class="row">
                <div class="input-field col s6">
                    <span>Email</span>
                    <input id="email" type="email" class="validate" formControlName="email" [(ngModel)]="email">
                    
                    <div class="error-validation" *ngIf="editEmpresaForm.invalid && submitedEditForm">
                        <span *ngIf="editEmpresaForm.controls['email'].errors?.required">Email es requerido</span>
                        <span *ngIf="editEmpresaForm.controls['email'].errors?.email">Email invalido</span>
                    </div>
                </div>
                <div class="input-field col s6">
                    <span>Telefono</span>
                    <input id="telefono" type="text" class="validate" formControlName="telefono" [(ngModel)]="telefono">
                   
                    <div class="error-validation" *ngIf="editEmpresaForm.invalid && submitedEditForm">
                        <span *ngIf="editEmpresaForm.controls['telefono'].errors?.required">Telefono es requerido</span>
                        <span
                            *ngIf="!(editEmpresaForm.controls['telefono'].errors?.required) && (editEmpresaForm.controls['telefono'].invalid)">Telefono
                            invalido</span>
                        <span
                            *ngIf="!(editEmpresaForm.controls['telefono'].errors?.required) && !(editEmpresaForm.controls['telefono'].value?.length != 12) && (editEmpresaForm.controls['telefono'].invalid)">Telefono
                            debe esta conformados por 12 numeros</span>
                    
                    </div>
                </div>

                <div class="input-field col s6">
                    <span>Celular</span>
                    <input id="celular" type="text" class="validate" formControlName="celular" [(ngModel)]="celular">
               
                    <div class="error-validation" *ngIf="editEmpresaForm.invalid && submitedEditForm">
                        <span *ngIf="editEmpresaForm.controls['celular'].errors?.required">Celular es requerido</span>
                        <span
                            *ngIf="!(editEmpresaForm.controls['celular'].errors?.required) && (editEmpresaForm.controls['celular'].value?.length != 9)">Celular
                            debe tener 9 digitos</span>
                        <span
                            *ngIf="!(editEmpresaForm.controls['celular'].errors?.required) && !(editEmpresaForm.controls['celular'].value?.length != 9) && (editEmpresaForm.controls['celular'].invalid)">Celular
                            invalido</span>
                    </div>
                </div>

                <div class="input-field col s6">
                    <span>Nro Bps</span>
                    <input id="nro_bps" type="number" class="validate" formControlName="nro_bps" [(ngModel)]="nro_bps">
                
                    <div class="error-validation" *ngIf="editEmpresaForm.invalid && submitedEditForm">
                        <span *ngIf="editEmpresaForm.controls['nro_bps'].errors?.required">Nro bps es requerido</span>
                        <span
                            *ngIf="!(editEmpresaForm.controls['nro_bps'].errors?.required) && (editEmpresaForm.controls['nro_bps'].invalid)">Nro
                            bps es invalido</span>
                    </div>
                </div>

                <div class="input-field col s6"> 
                    <span>Nro referencia</span>
                    <input id="nro_referencia" type="text" class="validate" formControlName="nro_referencia" [(ngModel)]="nro_referencia">
                    
                    <div class="error-validation" *ngIf="editEmpresaForm.invalid && submitedEditForm">
                        <span *ngIf="(editEmpresaForm.controls['nro_referencia'].invalid)">nro_referencia es invalido</span>
                    
                    </div>
                </div>
            </div>


            <div>
                <span>Rubro</span>
                <input id="rubro" type="text" class="validate" formControlName="rubro" [(ngModel)]="rubro">
                <div class="error-validation" *ngIf="editEmpresaForm.invalid && submitedEditForm">
                    <span *ngIf="editEmpresaForm.controls['rubro'].errors?.required">Rubro es requerido</span>
                </div>
            </div>

            <div>
                <span>Rubro secundario</span>
                <input id="rubro_secundario" type="text" class="validate" formControlName="rubro_secundario" [(ngModel)]="rubro_secundario">

            </div>
  
            <div>
                <span>Departamento</span> 
                <select class="browser-default" formControlName="departamento" [(ngModel)]="departamentoId" (ngModelChange)="mySelectDepartment($event)">
                    <option value=""  [value]="departamentoId" disabled selected>{{departamentoName}}</option>
                    <option *ngFor="let departamento of departamentosArr" [value]="departamento.id">{{departamento.name}}</option>                        
                    
                </select>
                <div class="error-validation" *ngIf="editEmpresaForm.invalid && submitedEditForm">
                    <span *ngIf="editEmpresaForm.controls['departamento'].errors?.required">Departamento es requerido</span>
                </div>
                  
                <span>Localidad</span> 
                <select class="browser-default" formControlName="localidad" [(ngModel)]="localidadId">
                    <option value="" disabled selected [value]="localidadId">{{localidadName}}</option>
                    <option value="1"  selected  *ngFor="let localidad of localidadesArr" [value]="localidad.id">{{localidad.name}}</option> 
                    
                </select>
                <div class="error-validation" *ngIf="editEmpresaForm.invalid && submitedEditForm">
                    <span *ngIf="editEmpresaForm.controls['localidad'].errors?.required">Localidad es requerido</span>
                </div>
            </div>

            <div>
                <span>Fecha inicio empresa</span>
                <input type="text" class="datepicker" formControlName="fecha_inicio_empresa" [(ngModel)]="fecha_inicio_empresa" id="fechaEmpresa">
                <div class="error-validation" *ngIf="editEmpresaForm.invalid && submitedEditForm">
                    <span *ngIf="editEmpresaForm.controls['fecha_inicio_empresa'].errors?.required">Fecha de inicio de la empresa es
                        requerido</span>
                
                </div>
            </div>

            <div>

                
            
                <div class="row">
                    <div class="input-field col s12">
                        <span>Observaciones</span>
                        <textarea id="textarea2" class="materialize-textarea" data-length="120" formControlName="observaciones" [(ngModel)]="observaciones"></textarea>
                       
                        <div class="error-validation" *ngIf="editEmpresaForm.invalid && submitedEditForm">
                            <span *ngIf="editEmpresaForm.controls['observaciones'].errors?.required">Observaciones es requerido</span>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    </form>

   



    <div class="personas-asociadas-container">
        <div class="sub-title">
            <h4>Personas asociadas a la empresa</h4>
        </div>

        <div class="empty_persons" *ngIf="personasAsociadasArr.length == 0">No hay personas asociadas a esta empresa</div>
        <div class="personas-list">
            <ul class="collection">
                <li class="collection-item" *ngFor="let persona of personasAsociadasArr">
                    <span>{{persona.Nombre}}{{persona.Apellido}}/{{persona.ContactoEmpresa.relacion}}</span> 
                    <div class="item-clear-btn">
                        <i class="material-icons">clear</i>
                    </div>
                </li>

            </ul>
        </div>
    </div>
  

</div>
