.empresas-detail-contianer{
    padding: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.logo-container{
    width: 100px;
    margin-left: auto;
    margin-right: auto;

}


.logo-container img{
    width: 100px;
    border-radius: 50%;
}

#save-changes-btn{
    float: right;
}
  