<div class="login_container">
    <h3>INGRESAR</h3>

    <form class="login-form">
        <div class="login-form-input">
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
        </div>

        <div class="login-form-input">
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
        </div>

        <div class="login-form-input">
            <a class="waves-effect waves-light btn">INGRESAR</a>
        </div>


    </form>




</div>