.login_container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px;
    margin-top: 30px;

}


.login_container h3{
    text-align: center;
    font-weight: bold;
}

.login-form-input{
    margin: 55px;
    
}

#button{
   width: 200px;
   background-color: #028bd2;
   border-radius: 20px;
   margin: auto;

}


.submit{
    width: 200px;
    margin: auto;
}


.error-validation{
    color: red;
}

.error-api{
    color: red;
    font-size: 20px;
    text-align: center;
    margin-top: 15px; 
}