.container-create-persona{
    padding: 2rem;
}


.title{
    text-align: center;
}

.submit-button{
    float: right;
    background-color: #028bd2;
    border-radius: 20px;
    
}

#btnAddPerson{

     background-color: #028bd2;
    border-radius: 20px;
    
}