.global-container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 70px repeat(7,1fr);

}



.global-container-header{
    grid-column: 1/8;

   

}

.global-container-sidebar{
    grid-column: 1/2;
    grid-row:2;
    
     
}

.global-container-content{
    grid-column: 2/8;
    grid-row:2;
     
}