<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Salir</a></li>
</ul>


<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Sistema de gestion web</a>

        <a id="barra-nav" (click)="pushNavMenu()"><i class="material-icons right" >view_headline</i></a>



        <ul class="right hide-on-med-and-down">
        
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Snowi<i
                        class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>