
<div class="dashboard-container">
    

    
    <div class="dashboard-information">
        <div class="information-item activas">{{cantEmpresasActivas}} EMPRESAS ACTIVAS</div>
        <div class="information-item inactivas">{{cantEmpresasInactivas}} EMPRESAS INACTIVAS</div>
    </div>
    
    <div class="dashboard-empresas-rubro">
        <h5>CANTIDAD DE EMPRESAS POR RUBRO:</h5>
            <div class="empresas-rubro-items">
                <div *ngFor="let count of cantEmpresasByRubro">{{count.cantidad}} {{count.rubro}}</div>
            </div>        
    </div>



    <div class="dashboard-aniversary">
        <h5>PROXIMOS ANIVERSARIOS</h5>
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>

</div>
