.dashboard-container{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.dashboard-information{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.information-item {
    min-width: 200px;
    color: #fff;
    font-weight: bolder;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    flex-wrap: wrap;
}

.dashboard-information .activas{
    background-color: #F87161;

}


.dashboard-information .inactivas{
    background-color: #D3D3D3;
  
}



.dashboard-empresas-rubro{
    width: 90%;
    max-height: 50vh;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px; 
}

.empresas-rubro-items{
    display: flex;
    flex-wrap: wrap;
    min-width: 100px;

}

.empresas-rubro-items div{
    background-color: #4F4B43;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}


.dasbhoard-altas-bajas{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-aniversary{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
