


.container-detail-persona{
    padding: 2rem;
}


.persona-information{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
}

.submit-button{
    float: right;
}

#btnAsociarEmpresa{
    float: right;
     background-color: #028bd2;
    border-radius: 20px;
}



.empresas-asociadas-container{
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
}

.empresas-list{
    margin-top: 60px;
}



.sub-title{
    text-align: center;
}

.collection-item{
    display: flex;
    justify-content: space-between;
}

.item-clear-btn i:hover{
    color: red;
    cursor: pointer;

}

#btnSaveChanges{
     background-color: #028bd2;
    border-radius: 20px;


}


.error-validation{
    color: red;
}


.btn-delete{
    float: left;
    
}

.btn-delete button{
    background-color: red;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
    
}

.not_exist_empresa{
    font-size: 20px;
    text-align: center;
    padding: 30px;
}

.select_empresa{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.collection li:hover{
    background: gray;
    cursor: pointer;
    color: #fff;
}






.empresa_items div{

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10px;
}

.empresa_items div:hover{
    background: gray;
    cursor: pointer;
}

