
<!--MODALS-->
<div id="asociarEmpresaModal" class="modal">
    <div class="modal-content">
        <h4>Asociar empresa a daniel diaz</h4>
        <form>
            <div>
                <label>Browser Select</label>
                <select class="browser-default">
                    <option value="" disabled selected>Escoge una empresa</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>

            </div>


            <div>
                <input placeholder="Relacion" id="first_name" type="text" class="validate">
            </div>
        

        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">ASOCIAR</a>
    </div>
</div>






<div class="container-detail-persona">


    <div class="persona-information">

    <div class="title">
        <h3>Detalle informacion persona</h3>
    </div>

    <div class="submit-button">
        <button class="btn waves-effect waves-light" type="submit" (click)="onSubmitEditPerson()" name="action" id="btnSaveChanges">Guardar cambios
    
        </button>
    
    </div>

    <div class="row">
        <form class="col s12" [formGroup]="editPersonForm">
            <div class="row">
                <div class="input-field col s6">
                    <input id="nombre" type="text" class="validate" formControlName="nombre">
                    <label for="nombre">Nombre</label>
                    <div class="error-validation" *ngIf="editPersonForm.invalid && submitedFormPerson">
                        <span *ngIf="editPersonForm.controls['nombre'].errors?.required">Nombre es requerido</span>
                    </div>
                </div>
                <div class="input-field col s6">
                    <input id="apellido" type="text" class="validate" formControlName="apellido">
                    <label for="apellido">Apellido</label>
                    <div class="error-validation" *ngIf="editPersonForm.invalid && submitedFormPerson">
                        <span *ngIf="editPersonForm.controls['apellido'].errors?.required">Apellido es requerido</span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="input-field col s6">
                    <input id="email" type="email" class="validate" formControlName="email">
                    <label for="email">Email:</label>
                    <div class="error-validation" *ngIf="editPersonForm.invalid && submitedFormPerson">
                        <span *ngIf="editPersonForm.controls['email'].errors?.required">Email es requerido</span>
                        <span
                            *ngIf="!(editPersonForm.controls['email'].errors?.required) && (editPersonForm.controls['email'].errors?.email)">Email
                            invalido</span>
                    </div>
                </div>
                <div class="input-field col s6">
                    <input id="celular" type="text" class="validate" formControlName="celular">
                    <label for="celular">Celular:</label>
                    <div class="error-validation" *ngIf="editPersonForm.invalid && submitedFormPerson"> 
                        <span *ngIf="editPersonForm.controls['celular'].errors?.required">Celular es requerido</span>
                        <span *ngIf="!(editPersonForm.controls['celular'].errors?.required)  && (editPersonForm.controls['celular'].value.length != 9)">Celular debe tener 9 digitos</span>
                        <span *ngIf="!(editPersonForm.controls['celular'].errors?.required)  && !(editPersonForm.controls['celular'].value.length != 9)  && (editPersonForm.controls['celular'].invalid)">Celular invalido</span> 

                    </div>
                </div>

    

                <div class="input-field col s6">

                    <select class="browser-default" formControlName="estado">
                        <option value="" disabled selected>Elige un estado</option>
                        <option value="1">activo</option>
                        <option value="2">inactivo</option>
                        <option value="3">Option 3</option>

                    </select>
                    <div class="error-validation" *ngIf="editPersonForm.invalid && submitedFormPerson">
                        <span *ngIf="editPersonForm.controls['estado'].errors?.required">Estado es requerido</span>
                    </div>
                </div>
            </div>

        </form>
    </div>

    </div>



    <div class="empresas-asociadas-container">
        <div class="sub-title"><h4>Empresas asociadas</h4></div>

        <div id="btnAsociarEmpresa"><a class="waves-effect waves-light btn modal-trigger" id="btnAsociarEmpresa" href="#asociarEmpresaModal">asociar empresa</a></div>

        <div class="empresas-list">
            <ul class="collection">
                <li class="collection-item">
                    <span>Avance Software/CEO</span> 
                    <div class="item-clear-btn">
                        <i class="material-icons">clear</i>
                    </div>
                </li>
                <li class="collection-item">Altech/Socio</li>
                <li class="collection-item">Junta departamental/ Inversor</li>
                <li class="collection-item">Alvin</li>
            </ul>
        </div>
    </div>
</div>