


.container-detail-persona{
    padding: 2rem;
}


.persona-information{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
}

.submit-button{
    float: right;
}

#btnAsociarEmpresa{
    float: right;
     background-color: #028bd2;
    border-radius: 20px;
}



.empresas-asociadas-container{
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
}

.empresas-list{
    margin-top: 60px;
}



.sub-title{
    text-align: center;
}

.collection-item{
    display: flex;
    justify-content: space-between;
}

.item-clear-btn i:hover{
    color: red;
    cursor: pointer;

}

#btnSaveChanges{
     background-color: #028bd2;
    border-radius: 20px;


}

