<div class="sidebar">

    <div class="sidebar-items">

        <div class="siedebar-items__item" routerLink="dashboard" routerLinkActive="activo">
            <div><i class="material-icons">pie_chart</i></div>
            <div><a> DASHBOARD</a></div>
        </div>
        
        <div class="siedebar-items__item" routerLink="empresas" routerLinkActive="activo">
            <div><i class="material-icons">business</i></div>
            <div><a> EMPRESAS </a></div>
        </div>
        <hr>

        <div class="siedebar-items__item" routerLink="personas" routerLinkActive="activo">
            <div><i class="material-icons">person</i></div> 
            <div><a> PERSONAS </a></div>
        </div>
        <hr>

        <div class="siedebar-items__item" routerLink="departamentos-localidades" routerLinkActive="activo"> 
            <div><i class="material-icons">location_on</i></div>
            <div><a> DEPARTAMENTOS/LOCALIDADES</a>
        </div>
    </div>
</div>
