.sidebar{
    background-color: #4F4B43;
    width: 100%;
    height: 100vh;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.sidebar-items{
    position: relative;
    top: 5%;
}


.siedebar-items__item{
    text-align: center;
    padding: 20px;
}

.siedebar-items__item i{
    font-size: 40px;
    color: #fff;
}

.siedebar-items__item a{
    color: #fff;
    font-weight: bold;
}


.siedebar-items__item:hover{
    cursor: pointer;
    border-radius: 15px;
    background-color: #028bd2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.5s;
    
}


.activo{
    cursor: pointer;
    border-radius: 15px;
    background-color: #028bd2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.5s;

}