

<div class="personas-container">


    <div class="title"><h3>PERSONAS:</h3></div>



<div id="push-button">
    <label>Estado</label>
    <div class="switch">
        <input type="checkbox" />

        <label>
            Todos
            <input type="checkbox" (change)="onCheckBoxChange($event)">
            <span class="lever"></span>
            Activo  
        </label>
    </div>
</div>





<div class="personas-search">
    <input placeholder="buscador" id="empresa_buscador" type="text" class="validate" [(ngModel)]="inputSearch"> 
    
</div>

<div >
    <a class="waves-effect waves-light btn" (click)="onClickAddPersona()" id="btnCreatePersona">AGREGAR NUEVA PERSONA</a>
</div>
 


<div class="personas-list">

    <div class="emptyPersonas" *ngIf="personasArr.length == 0">No se encontro ninguna persona aun</div>

    <p *ngIf="!(pageOfItemsPersonas | filterByName:personasArr:inputSearch) && personasArr.length > 0" class="emptyPersonas">No se encontro  resultado</p>
    <div class="personas-list-elements ">
        <ul class="collapsible">
            <li *ngFor="let persona of pageOfItemsPersonas | filterByName:personasArr:inputSearch">
                <div class="collapsible-header"><i class="material-icons">person</i>{{persona.Nombre}} {{persona.Apellido}}</div>
                <div class="collapsible-body">

                    <div ><a class="waves-effect waves-light btn" id="editBtnInfo" (click)="onClickEdit(persona.id)">Editar<i class="material-icons">border_color</i></a></div>
                    <div class="persona-info">
                        <h5>INFORMACION:</h5>

                        <ul>
                            <li><strong>email:</strong><span>{{persona.email}}</span></li>
                            <li><strong>celular:</strong><span>{{persona.celular}}</span></li>
                            <li><strong>Estado:</strong>
                                <div class="chip estado-activo" *ngIf="persona.estado == 'activo'">
                                    activo
                                </div>

                                 <div class="chip" *ngIf="persona.estado == 'inactivo'">
                                     inactivo
                                 </div>
                            
                            </li>
                        </ul>
                    </div>
                    <div class="persona-empresas-info">
                        <h5>Empresas asociadas</h5>

                        <div *ngIf="persona.Empresas.length == 0">No tiene empresas asociadas</div>

                        <ul>
                            <li *ngFor="let empresa of persona.Empresas"><a href="#"></a>{{empresa.Nombre}}/{{empresa.ContactoEmpresa.relacion}}</li>
                            
                        </ul>
                    </div>
                </div>
            </li>

          



        </ul>
    </div>



    <div class="pagination">
        <jw-pagination [items]="personasArr" (changePage)="onChangePage($event)"></jw-pagination>
    </div>


</div>