

<div class="personas-container">


    <div class="title"><h3>Personas:</h3></div>



<div id="push-button">
    <label>Estado</label>
    <div class="switch">
        <label>
            Todos
            <input type="checkbox">
            <span class="lever"></span>
            Activo
        </label>
    </div>
</div>



<div class="personas-search">
    <input placeholder="buscador" id="empresa_buscador" type="text" class="validate">

</div>

<div id="btnCreatePersona">
    <a class="waves-effect waves-light btn" (click)="onClickAddPersona()">AGREGAR NUEVA PERSONA</a>
</div>



<div class="personas-list">
    <div class="personas-list-elements">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons">person</i>Daniel Diaz</div>
                <div class="collapsible-body">

                    <div id="editBtnInfo"><a class="waves-effect waves-light btn" (click)="onClickEdit()">Editar<i class="material-icons">border_color</i></a></div>
                    <div class="persona-info">
                        <h5>INFORMACION:</h5>

                        
                
                        <ul>
                            <li><strong>email:</strong><span>danieldiaz@gmail.com</span></li>
                            <li><strong>celular:</strong><span>091234234</span></li>
                            <li><strong>Estado:</strong>
                                <div class="chip estado-activo">
                                    activo
                                </div>
                            
                            </li>
                        </ul>
                    </div>
                    <div class="persona-empresas-info">
                        <h5>Empresas asociadas</h5>
                        <ul>
                            <li><a href="#"></a>Avance software / CEO</li>
                            <li>Centro comercial SJI / Socio </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li>
                <div class="collapsible-header"><i class="material-icons">person</i>Daniel Diaz</div>
                <div class="collapsible-body">
                    <div id="editBtnInfo"><a class="waves-effect waves-light btn">Editar<i class="material-icons">border_color</i></a></div>

                    <div class="persona-info">
                        <h5>INFORMACION:</h5>
                        <ul>
                            <li><strong>email:</strong><span>danieldiaz@gmail.com</span></li>
                            <li><strong>celular:</strong><span>091234234</span></li>
                            <li><strong>Estado:</strong>
                                <div class="chip estado-activo">
                                activo
                            </div></li>
                        </ul>
                    </div>
                    <div class="persona-empresas-info">
                        <h5>Empresas asociadas</h5>
                        <ul>
                            <li><a href="#"></a>Avance software / CEO</li>
                            <li>Centro comercial SJI / Socio </li>
                        </ul>
                    </div>
                </div>
            </li>


            <li>
                <div class="collapsible-header"><i class="material-icons">person</i>Daniel Diaz</div>
                
                
                <div class="collapsible-body">
                    <div id="editBtnInfo"><a class="waves-effect waves-light btn">Editar<i class="material-icons">border_color</i></a></div>

                    <div class="persona-info">
                        <h5>INFORMACION:</h5>
                        <ul>
                            <li><strong>email:</strong><span>danieldiaz@gmail.com</span></li>
                            <li><strong>celular:</strong><span>091234234</span></li>
                            <li><strong>Estado:</strong>
                                <div class="chip estado-activo">
                                    activo
                                </div>
                            
                            </li>
                        </ul>
                    </div>
                    <div class="persona-empresas-info">
                        <h5>Empresas asociadas</h5>
                        <ul>
                            <li><a href="#"></a>Avance software / CEO</li>
                            <li>Centro comercial SJI / Socio </li>
                        </ul>
                    </div>
                </div>
            </li>


            <li>
                <div class="collapsible-header"><i class="material-icons">person</i>Daniel Diaz</div>
                <div class="collapsible-body">
                    <div id="editBtnInfo"><a class="waves-effect waves-light btn">Editar<i class="material-icons">border_color</i></a></div>

                    
 
                    <div class="persona-info">
                        <h5>INFORMACION:</h5>
                        <ul>
                            <li><strong>email:</strong><span>danieldiaz@gmail.com</span></li>
                            <li><strong>celular:</strong><span>091234234</span></li>
                            <li><strong>Estado:</strong>
                                <div class="chip">
                                    inactivo
                                </div>
                            
                            </li>
                        </ul>
                    </div>
                    <div class="persona-empresas-info">
                        <h5>Empresas asociadas</h5>
                        <ul>
                            <li><a href="#"></a>Avance software / CEO</li>
                            <li>Centro comercial SJI / Socio </li>
                        </ul>
                    </div>
                </div>
            </li>
           

        </ul>
    </div>



    <div class="pagination">
        <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
    </div>


</div>