
<!--MODALS-->

<div id="addDepModal"  class="modal" >
    <form [formGroup]="formAddDep" (ngSubmit)="onSubmitAddDep()">
        <div class="modal-content">
            <h5>Agregar departamento</h5>
            <label>Nombre:</label>
            <div class="error-validation" *ngIf="formAddDep.invalid && submitedFormDep">
                <span>Nombre de departamento es requerido</span>
            </div>
            <input type="text" name="nombre_departamento" formControlName="name_departamento">
        </div>

        <div class="modal-footer">
            <button class="btn waves-effect waves-light" type="submit" name="action">Agregar</button>
        </div>
    </form>
</div>





<div id="addLocalidadModal" class="modal" [formGroup]="formAddLocalidad" (ngSubmit)="onSubmitAddLocalidad()">
    <form [formGroup]="formAddLocalidad" (ngSubmit)="onSubmitAddLocalidad()">
        <div class="modal-content">
            <h5>Agregar localidad para {{selectedNameDep}}</h5>
            <label>Nombre:</label>
            <div class="error-validation" *ngIf="formAddLocalidad.invalid && submitedFormLocalidad">
                <span *ngIf="formAddLocalidad.controls['name_localidad'].errors?.required">Nombre de localidad es requerido</span>
            </div>
            <input type="text" name="nombre_localidad" formControlName="name_localidad">
        </div>
        
        <div class="modal-footer">
            <button class="btn waves-effect waves-light" type="submit" name="action">Agregar</button>
        </div>
    </form>
</div>





<div class="departamentos-localidades-container">

    <div class="departamentos-container">

        <div class="title"><h3>DEPARTAMENTOS:</h3></div>

        <div class="departamentos-search">
            <input placeholder="buscador" id="departamentos_buscador" type="text" class="validate" [(ngModel)]="searchValue">
  
        </div>

        <div ><a class="waves-effect waves-light btn modal-trigger" id="btnAddDep" href="#addDepModal">AGREGAR DEPARTAMENTO</a></div>
        
        
        
        <div class="departamentos-list">
            <p *ngIf="!(pageOfItemsDeps | filterByNameDepartment:departamentosArr:searchValue)" class="emptyDepartamentos">No se encontro resultado</p>

            <ul class="collapsible"> 
                <li *ngFor="let departamento of pageOfItemsDeps | filterByNameDepartment:departamentosArr:searchValue"  (click)="selectDep(departamento.id,departamento.name)">
                    <div class="collapsible-header"><i class="material-icons">location_on</i>{{departamento.name}}</div>
                    <div class="collapsible-body">
                        <div class="departamento-info">
                            <a class="waves-effect waves-light btn modal-trigger" href="#addLocalidadModal" id="btnAddLocalidad">Agregar localidad</a>

                            <h5>LOCALIDADES:</h5>
                            <div *ngIf="departamento.Localidads.length == 0">No existe localidad</div>
                            <ul>
                                <li *ngFor="let localidad of departamento.Localidads"><div class="chip">{{localidad.name}}<i class="close material-icons" (click)="deleteLocalidad(localidad.id)">close</i></div></li>
                            </ul> 
                        </div>
                    </div>
                </li>   
            </ul>
        </div>

        <div class="pagination">
            <jw-pagination [items]="departamentosArr"  (changePage)="onChangePage($event)"></jw-pagination>
        </div>
        


    </div>
</div>





