
<!--MODALS-->

<div id="addDepModal"  class="modal" >
    <form [formGroup]="formAddDep" (ngSubmit)="onSubmitAddDep()">
        <div class="modal-content">
            <h5>Agregar departamento</h5>
            <label>Nombre:</label>
            <div class="error-validation" *ngIf="formAddDep.invalid && submitedFormDep">
                <span>Nombre de departamento es requerido</span>
            </div>
            <input type="text" name="nombre_departamento" formControlName="name_departamento">
        </div>

        <div class="modal-footer">
            <button class="btn waves-effect waves-light" type="submit" name="action">Agregar</button>
        </div>
    </form>
</div>





<div id="addLocalidadModal" class="modal" [formGroup]="formAddLocalidad" (ngSubmit)="onSubmitAddLocalidad()">
    <form [formGroup]="formAddLocalidad" (ngSubmit)="onSubmitAddLocalidad()">
        <div class="modal-content">
            <h5>Agregar localidad para San Jose</h5>
            <label>Nombre:</label>
            <div class="error-validation" *ngIf="formAddLocalidad.invalid && submitedFormLocalidad">
                <span>Nombre de localidad es requerido</span>
            </div>
            <input type="text" name="nombre_localidad" formControlName="name_localidad">
        </div>
        
        <div class="modal-footer">
            <button class="btn waves-effect waves-light" type="submit" name="action">Agregar</button>
        </div>
    </form>
</div>





<div class="departamentos-localidades-container">

    <div class="departamentos-container">

        <div class="title"><h3>DEPARTAMENTOS:</h3></div>

        <div class="departamentos-search">
            <input placeholder="buscador" id="departamentos_buscador" type="text" class="validate">
        </div>

        <div ><a class="waves-effect waves-light btn modal-trigger" id="btnAddDep" href="#addDepModal">AGREGAR DEPARTAMENTO</a></div>

        <div class="departamentos-list">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">location_on</i>San Jose</div>
                    <div class="collapsible-body">
                        <div class="departamento-info">
                            <a class="waves-effect waves-light btn modal-trigger" href="#addLocalidadModal" id="btnAddLocalidad">Agregar localidad</a>

                            <h5>LOCALIDADES:</h5>
                            <ul>
                                <li><a href="#"><strong>Libertad</strong></a></li>
                                <li><a href="#"><strong>Ecilda Paullier</strong></a></li>
                                <li><a href="#"><strong>Colonia Wilson</strong></a></li>
                                <li><a href="#"><strong>Kiyu</strong></a></li>
                                <li><a href="#"><strong>Ciudad Del Plata</strong></a></li>
                                <li><a href="#"><strong>San Jose de Mayo</strong></a></li>
                            </ul>
                        </div>
                        
                    </div>
                </li>
            
                <li>
                    <div class="collapsible-header"><i class="material-icons">location_on</i>San Jose</div>
                    <div class="collapsible-body">
                        <div class="departamento-info">
                            <h5>LOCALIDADES:</h5>
                            <ul>
                                <li><a href="#"><strong>Libertad</strong></a></li>
                                <li><a href="#"><strong>Ecilda Paullier</strong></a></li>
                                <li><a href="#"><strong>Colonia Wilson</strong></a></li>
                                <li><a href="#"><strong>Kiyu</strong></a></li>
                                <li><a href="#"><strong>Ciudad Del Plata</strong></a></li>
                                <li><a href="#"><strong>San Jose de Mayo</strong></a></li>
                            </ul>
                        </div>
                
                    </div>
                </li>


                <li>
                    <div class="collapsible-header"><i class="material-icons">location_on</i>San Jose</div>
                    <div class="collapsible-body">
                        <div class="departamento-info">
                            <h5>LOCALIDADES:</h5> 

                            <ul>
                                <li>
                                    <div class="chip">
                                        Libertad
                                        <i class="close material-icons">close</i>
                                    </div>
                                </li>
                                <li>
                                    <div class="chip">
                                        Libertad
                                        <i class="close material-icons">close</i>
                                    </div>
                                </li>
                                <li><a href="#"><strong>Colonia Wilson</strong></a></li>
                                <li><a href="#"><strong>Kiyu</strong></a></li>
                                <li><a href="#"><strong>Ciudad Del Plata</strong></a></li>
                                <li><a href="#"><strong>San Jose de Mayo</strong></a></li>
                            </ul>
                        </div>
                
                    </div>
                </li>
            </ul>

        </div>

        <div class="pagination">
            <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
        </div>
        


    </div>
</div>





