<div class="empresas-container">
   <div class="title"><h3>EMPRESAS:</h3></div>


    <div class="empresas-filter">
       <div class="empresas-filter-element">
            <label>Departamento:</label>
            <select class="browser-default" (ngModelChange)="mySelectDepartment($event)" [(ngModel)]="dataFilter.departamentoId">
                <option value="">Todos</option>
                <option *ngFor="let departamento of departamentosArr" [value]="departamento.id">{{departamento.name}}</option> 
            </select>   

       </div>

       <div class="empresas-filter-element">
            <label>Localidad</label>
            <select class="browser-default" [(ngModel)]="dataFilter.localidadId">
                <option value="" >Todos</option>
                <option *ngFor="let localidad of localidadesArr" [value]="localidad.id">{{localidad.name}}</option>
            </select>    
       </div>               

      <div class="empresas-filter-element" [(ngModel)]="dataFilter.estado">
        <label>Estado</label>
        <div class="switch">
            <label> 
                Todas
                <input type="checkbox" (change)="onCheckBoxChange($event)"/> 
                <span class="lever"></span>
                Activo
            </label>
        </div>
    
    </div>

    <div class="empresas-filter-element">
        <label>Rubro:</label>
        <select class="browser-default" [(ngModel)]="dataFilter.rubro" (ngModelChange)="mySelectDepartment($event)">
            <option value="" >todos</option>
            <option  *ngFor="let rubro of rubrosArr" [value]="rubro.rubro">{{rubro.rubro}}</option>
        </select>
    
    </div>

    <div class="empresas-filter-element" >
        
    </div>
 </div>

 <div class="filter-effect">
    <div class="chip" *ngIf="dataFilter.filterActivate">
        Filter activado
        <i class="close material-icons">close</i>
    </div>
 </div>


    <div class="empresas-search">
         <input placeholder="buscador" id="empresa_buscador" type="text" class="validate" [(ngModel)]="inputSearch">

    </div>

    <div>
        <a class="waves-effect waves-light btn" id="btnCreateEmpresa" (click)="onClickAddEmpresa()">AGREGAR NUEVA EMPRESA</a>
    </div>

    <div class="empresas-list">  

        <p *ngIf="!(pageOfItemsEmpresas | filterByName:empresasArr:inputSearch)" class="empty-empresas">No se encontro resultado</p>

        <div class="empty-empresas" *ngIf="empresasArr.length == 0">No hay ninguna empresa registrada</div>

        <div class="empresa-list-elements"> 
            <ul class="collection">  
                <li class="collection-item avatar"
                    *ngFor="let empresa of pageOfItemsEmpresas | filterByName:empresasArr:inputSearch"  (click)="selectedEmpresa(empresa.id)">
                    <img src="http://localhost:3712/api/empresas/getLogo/{{empresa.url_logo}}" alt="" class="circle">
                    <span class="title">{{empresa.Nombre}}</span>
                    <p>Direccion: {{empresa.Direccion}}<br>
                        Rut: {{empresa.rut}}
                    </p>
                </li>

            </ul>
        </div>

        <div class="pagination">
            <jw-pagination [items]="empresasArr" (changePage)="onChangePage($event)"></jw-pagination>
        </div>


    </div>

</div>