

<div class="container-create-empresa">

    <div class="title"> <h3>Agregar empresa</h3></div>

    <div class="row">
        <form class="col s12" [formGroup]="addEmpresaForm" (ngSubmit)="onSubmitAddEmpresa()" enctype = "multipart/form-data">
            <div class="row">
                <div class="input-field col s6">
                    <input id="nombre" type="text" class="validate" formControlName="name">
                    <label for="nombre">Nombre</label>
                    <div class="error-validation" *ngIf="addEmpresaForm.invalid && submitedEmpresaForm">
                        <span *ngIf="addEmpresaForm.controls['name'].errors?.required">Nombre es requerido</span>
                    </div>
                </div>
                <div class="input-field col s6">
                    <input id="razon_social" type="text" class="validate" formControlName="razon_social">
                    <label for="razon_social">Razon social</label>
                    <div class="error-validation" *ngIf="addEmpresaForm.invalid && submitedEmpresaForm">
                        <span *ngIf="addEmpresaForm.controls['razon_social'].errors?.required">Razon social es requerido</span>
                    </div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="input-field col s12">
                    <input id="direccion" type="text" class="validate" formControlName="direccion">
                    <label for="direccion">Direccion</label>
                    <div class="error-validation" *ngIf="addEmpresaForm.invalid && submitedEmpresaForm">
                        <span *ngIf="addEmpresaForm.controls['direccion'].errors?.required">Direccion es requerido</span>
                    </div>
                </div>
            </div>
    
            <div class="row"> 
                <div class="input-field col s6">
                    <input id="rut" type="text" class="validate" formControlName="rut">
                    <label for="rut">RUT</label>
                    <div class="error-validation" *ngIf="addEmpresaForm.invalid && submitedEmpresaForm">
                        <span *ngIf="addEmpresaForm.controls['rut'].errors?.required">Rut es requerido</span>
                        <span *ngIf="!(addEmpresaForm.controls['rut'].errors?.required) && (addEmpresaForm.controls['rut'].value?.length != 12)">Rut debe tener 12 digitos</span>
                         <span *ngIf="!(addEmpresaForm.controls['rut'].errors?.required) && !(addEmpresaForm.controls['rut'].value?.length != 12) && (addEmpresaForm.controls['rut'].invalid)">Rut debe esta conformados por numeros</span>

                    </div>
                </div>
                <div class="input-field col s6"> 
            
                    <select class="browser-default" formControlName="estado">
                        <option value="" disabled selected>Elige un estado</option>
                        <option value="activo">activo</option>
                        <option value="inactivo">inactivo</option>
                    </select>
                    <div class="error-validation" *ngIf="addEmpresaForm.invalid && submitedEmpresaForm">
                        <span *ngIf="addEmpresaForm.controls['estado'].errors?.required">Estado es requerido</span>
                    </div>
                    
                </div>
            </div>
    
    
            <div class="row">
                <div class="input-field col s6">
                    <input id="email" type="email" class="validate" formControlName="email" #inputEmailEmpresa> 
                    <label for="email">Email:</label>
                    
                    <div class="error-validation" *ngIf="(addEmpresaForm.invalid && submitedEmpresaForm) || emailEmpresaExist">
                        <span *ngIf="addEmpresaForm.controls['email'].errors?.required">Email es requerido</span>
                        <span *ngIf="addEmpresaForm.controls['email'].errors?.email">Email invalido</span>
                        <span *ngIf="emailEmpresaExist ">Este email ya esta en uso</span>
                    </div>
                </div>

                <div class="input-field col s6">
                    <input id="telefono" type="text" class="validate" formControlName="telefono">
                    <label for="Telefono">Telefono:</label>
                    <div class="error-validation" *ngIf="addEmpresaForm.invalid && submitedEmpresaForm">
                        <span *ngIf="addEmpresaForm.controls['telefono'].errors?.required">Telefono es requerido</span>
                        <span *ngIf="!(addEmpresaForm.controls['telefono'].errors?.required) && (addEmpresaForm.controls['telefono'].invalid)">Telefono invalido</span>
                        <span *ngIf="!(addEmpresaForm.controls['telefono'].errors?.required) && !(addEmpresaForm.controls['telefono'].value?.length != 12) && (addEmpresaForm.controls['telefono'].invalid)">Telefono debe esta conformados por 12 numeros</span>

                    </div>
                </div>
    
                <div class="input-field col s6">
                    <input id="celular" type="text" class="validate" formControlName="celular"> 
                    <label for="celular">Celular:</label>
                    <div class="error-validation" *ngIf="addEmpresaForm.invalid && submitedEmpresaForm">
                        <span *ngIf="addEmpresaForm.controls['celular'].errors?.required">Celular es requerido</span>
                        <span *ngIf="!(addEmpresaForm.controls['celular'].errors?.required) && (addEmpresaForm.controls['celular'].value?.length != 9)">Celular debe tener 9 digitos</span>
                        <span *ngIf="!(addEmpresaForm.controls['celular'].errors?.required) && !(addEmpresaForm.controls['celular'].value?.length != 9) && (addEmpresaForm.controls['celular'].invalid)">Celular invalido</span>

                    </div>
                </div>      
    
                <div class="input-field col s6">
                    <input id="nro_bps" type="text" class="validate" formControlName="nro_bps">
                    <label for="nro_bps">Nro_Bps:</label>
                    <div class="error-validation" *ngIf="addEmpresaForm.invalid && submitedEmpresaForm">
                        <span *ngIf="addEmpresaForm.controls['nro_bps'].errors?.required">Nro bps es requerido</span>
                        <span *ngIf="!(addEmpresaForm.controls['nro_bps'].errors?.required) && (addEmpresaForm.controls['nro_bps'].invalid)">Nro bps es invalido</span>
                    </div>
                </div>
    
                <div class="input-field col s6">
                    <input id="nro_referencia" type="text" class="validate" formControlName="nro_referencia">
                    <label for="nro_referencia">Nro_Referencia(Opcional):</label>
                    <div class="error-validation" *ngIf="addEmpresaForm.invalid && submitedEmpresaForm">
                        <span *ngIf="(addEmpresaForm.controls['nro_referencia'].invalid)">nro_referencia es invalido</span>
                         
                    </div>
                </div>
            </div>

            <div class="row">
                <form action="#" enctype='multipart/form-data'>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Importar Logo</span>
                            <input type="file" (change)="fileChangeEvent($event)" id="logo">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </form>
                <div class="error-validation" *ngIf="addEmpresaForm.invalid && submitedEmpresaForm">
                
                    <span *ngIf="!logo">Logo es requerido</span>
                    <span *ngIf="errorFormatFile">Formato de archivo invalido(Enable: png,jpg,jpeg)</span>
                </div>
            </div>
    
    
            <div class="row">
                <div class="input-field col s6">
                    <input id="rubro" type="text" class="validate" formControlName="rubro">
                    <label for="rubro">Rubro</label>
                    <div class="error-validation" *ngIf="addEmpresaForm.invalid && submitedEmpresaForm">
                        <span *ngIf="addEmpresaForm.controls['rubro'].errors?.required">Rubro es requerido</span>
                    </div>
                </div>

                <div class="input-field col s6">
                    <input id="rubro_secundario" type="text" class="validate" formControlName="rubro_secundario">
                    <label for="rubro_secundario">Rubro secundario(Opcional)</label>
                </div>
            </div>
    
           

            <div>
                <label>Departamento</label>
                <select class="browser-default" formControlName="departamento" (ngModelChange)="mySelectDepartment($event)" > 
                    <option value="" disabled selected>Choose your option</option>
                    <option  *ngFor="let departamento of departamentosArr"  [value]="departamento.id">{{departamento.name}}</option>
                </select>
                <div class="error-validation" *ngIf="addEmpresaForm.invalid && submitedEmpresaForm">
                     <span *ngIf="addEmpresaForm.controls['departamento'].errors?.required">Departamento es requerido</span>

                </div>

                <label>Localidad</label>
                <select class="browser-default" formControlName="localidad" (ngModelChange)="selectLocalidad($event)"> 
                    <option value="" disabled selected>Choose your option</option>
                    <option *ngFor="let localidad of localidadesArr" [value]="localidad.id" >{{localidad.name}}</option>
                </select>
                <div class="error-validation" *ngIf="addEmpresaForm.invalid && submitedEmpresaForm">
                        <span *ngIf="addEmpresaForm.controls['localidad'].errors?.required">Localidad es requerido</span>
                </div>
            </div>

            <div> 
                <label>Fecha de inicio de la empresa</label>
                <input type="text" class="datepicker"  id="fechaEmpresa" >
                <div class="error-validation" *ngIf="fechaRequired">
                    <span>Fecha de inicio de la empresa es requerido</span> 
                </div>
            </div>
    
            <div>
    
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea2" class="materialize-textarea" data-length="120" formControlName="observaciones"></textarea>
                        <label for="textarea2">Observaciones</label>
                        
                        <div class="error-validation" *ngIf="addEmpresaForm.invalid && submitedEmpresaForm">
                            <span *ngIf="addEmpresaForm.controls['observaciones'].errors?.required">Observaciones es requerido</span>
                        </div>
                    </div>
                </div>
            </div>


           
             
            <div class="form-user-info">
                <h5>Usuario de la empresa</h5>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="email" type="email" class="validate" formControlName="email_user_empresa" #inputEmailUser>
                        <label for="email">Email:</label>
                        
                        <div class="error-validation" *ngIf="(addEmpresaForm.invalid && submitedEmpresaForm) || emailUserExist ">
                            <span *ngIf="addEmpresaForm.controls['email_user_empresa'].errors?.required">Email es requerido</span>
                            <span *ngIf="addEmpresaForm.controls['email_user_empresa'].errors?.email">Email invalido</span>
                            <span *ngIf="emailUserExist">Este email ya esta en uso</span>
                        </div> 
                    </div>
                    <div class="input-field col s6">
                        <input id="password" type="password" class="validate" formControlName="password_user_empresa">
                        <label for="password">Contraseña:</label>
                        <div class="error-validation" *ngIf="addEmpresaForm.invalid && submitedEmpresaForm">
                            <span *ngIf="addEmpresaForm.controls['password_user_empresa'].errors?.required">Contraseña es requerido</span>
                            <span *ngIf="!(addEmpresaForm.controls['password_user_empresa'].errors?.required) && (addEmpresaForm.controls['password_user_empresa'].errors?.minlength)">Contraseña debe tener minimo 8 characteres</span>
                        </div>
                        
                    </div>
    
                
                    <div class="input-field col s6">
                        <input id="username" type="text" class="validate" formControlName="username_user_empresa">
                        <label for="username">Username:</label>
                        <div class="error-validation" *ngIf="addEmpresaForm.invalid && submitedEmpresaForm">
                            <span *ngIf="addEmpresaForm.controls['username_user_empresa'].errors?.required">Username es requerido</span>

                        </div>
                    </div>
                </div>
            </div>


            <div class="submit-button">
                <button class="btn waves-effect waves-light" id="button" type="submit" name="action">Agregar empresa
                
                </button>

            </div>

            <div class="error-validation" *ngIf="addEmpresaForm.invalid && submitedEmpresaForm">
                <h6 class="msg-invalid">Campos invalido .por favor revisa todos los campos.</h6>
            </div>

    
        </form>
    </div>
</div>
