
.container-create-empresa{
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.title{
    text-align: center;
}

.submit-button button{
    width: 100%;
}


.form-user-info{
    margin-top: 50px;
}

#button{
 background-color: #028bd2;
 border-radius: 20px;
}